In [ ]:
# Initialize OK
from client.api.notebook import Notebook
ok = Notebook('lab05.ok')

# Lab 5: Regular Expressions, SQL


**Collaboration Policy**

Data science is a collaborative activity. While you may talk with others about
the homework, we ask that you **write your solutions individually**. If you do
discuss the assignments with others please **include their names** at the top
of your solution.


## Due Date

This assignment is due tonight at **11:59pm Tuesday, July 9th**.

As a reminder, HW #2 late submission without penalty is also due today.

# Collaborators

Write names in this cell:

In [1]:
import pandas as pd
import numpy as np
import re
import sqlalchemy

from ds100_utils import fetch_and_cache
from pathlib import Path

## Objectives for Lab 5:

This lab has two main parts. 

In the first part, you will practice the basic usage of regular expressions and also learn to use `re` module in Python.  Some of the materials are based on the tutorial at http://opim.wharton.upenn.edu/~sok/idtresources/python/regex.pdf. As you work through the first part of the lab, we suggest you to use the website http://regex101.com, especially when you have difficulties matching your answer with the asked part of string. 

In the second part of the lab, we are going to practice viewing, sorting, grouping, and merging tables with SQL.

---
# Part 1: Regular Expressions

We'll start by learning about the simplest possible regular expressions. Since regular expressions are used
to operate on strings, we'll start with the most common task: matching characters.

Most letters and characters will simply match themselves. For example, the regular expression `r'test'` will match the string `test` exactly. There are exceptions to this rule; some characters are special, and don't match themselves.

Here is a list of metacharacters that are widely used in regular experssion. 

<table border="1" class="dataframe" >
<thead>
  <tr style="text-align: right;">
    <th>Pattern </th>
    <th>Description</th> 
  </tr>
 </thead>
 <tbody>
  <tr>
    <td>^</td>
    <td>Matches beginning of line.</td> 
  </tr>
  <tr>
    <td>$</td>
    <td>Matches end of line.</td> 
  </tr>
  <tr>
    <td>.</td>
    <td>Matches any single character except newline. </td> 
  </tr>
  <tr>
    <td>*</td>
    <td>Matches 0 or more occurrences of preceding expression.</td>
  </tr>
  <tr>
    <td>+</td>
    <td>Matches 1 or more occurrence of preceding expression.</td>
  </tr>
  <tr>
    <td>?</td>
    <td>Matches 0 or 1 occurrence of preceding expression.</td>
  </tr>
  <tr>
    <td>[...]</td>
    <td>Matches any single character in brackets.</td>
  </tr>
  <tr>
    <td>[^...]</td>
    <td>Matches any single character <b>not</b> in brackets.</td>
  </tr>
  <tr>
    <td>{n}</td>
    <td>Matches exactly n number of occurrences of preceding expression.</td>
  </tr>
  <tr>
    <td>{n,}</td>
    <td>Matches n or more occurrences of preceding expression.</td>
  </tr>
  <tr>
    <td>{n,m}</td>
    <td>Matches at least n and at most m occurrences of preceding expression.</td>
  </tr>
  <tr>
    <td>a|b</td>
    <td>Matches either a or b.</td>
  </tr>
  <tr>
    <td>\1...\9</td>
    <td>Matches n-th grouped subexpression.</td>
  </tr>
  </tbody>
</table>


Perhaps the most important metacharacter is the backslash, ‘\’. As in Python string literals, the backslash
can be followed by various characters to signal various special sequences. It’s also used to escape all the
metacharacters so you can still match them in patterns; for example, if you need to match a `[` or `\`, you
can precede them with a backslash to remove their special meaning:  `\[` or `\\`. 

The following predefined special sequences are available:

<table border="1" class="dataframe" >
<thead>
  <tr style="text-align: right;">
    <th>Pattern </th>
    <th>Description</th> 
  </tr>
 </thead>
 <tbody>
  <tr>
    <td>\d</td>
    <td>Matches any decimal digit; this is equivalent to the class `[0-9]`</td> 
  </tr>
  <tr>
    <td>\D</td>
    <td>Matches any non-digit character; this is equivalent to the class `[^0-9]`.</td> 
  </tr>
  <tr>
    <td>\s</td>
    <td>Matches any whitespace character; this is equivalent to the class `[ \t\n\r\f\v]` </td> 
  </tr>
  <tr>
    <td>\S</td>
    <td>Matches any non-whitespace character; this is equivalent to the class `[^ \t\n\r\f\v]`.</td>
  </tr>
  <tr>
    <td>\w</td>
    <td>Matches any alphanumeric character; this is equivalent to the class `[a-zA-Z0-9_]`</td>
  </tr>
  <tr>
    <td>\W</td>
    <td>Matches any non-alphanumeric character; this is equivalent to the class `[^a-zA-Z0-9_]`.</td>
  </tr>
  </tbody>
</table>

# Question 1
In this question, write patterns that match the given sequences. It may be as simple as the common letters on each line.

---
## Question 1a

Write a single regular expression to match the following strings without using the `|` operator.

1. **Match:** `abcdefg`
1. **Match:** `abcde`
1. **Match:** `abc`
1. **Skip:** `c abc`

<!--
BEGIN QUESTION
name: q1a
-->

In [2]:
regx1 = r"" # fill in your pattern
...

In [ ]:
ok.grade("q1a");

---
## Question 1b

Write a single regular expression to match the following strings without using the `|` operator.

1. **Match:** `can`
1. **Match:** `man`
1. **Match:** `fan`
1. **Skip:** `dan`
1. **Skip:** `ran`
1. **Skip:** `pan`

<!--
BEGIN QUESTION
name: q1b
-->

In [8]:
regx2 = r"" # fill in your pattern
...

In [ ]:
ok.grade("q1b");

# Question 2

Now that we have written a few regular expressions, we are now ready to move beyond matching. In this question, we'll take a look at some methods from the `re` package.

---
## Question 2a:

Write a Python program to extract and print the numbers of a given string. 

1. **Hint:** use `re.findall`
2. **Hint:** use `\d` for digits and one of either `*` or `+`.

<!--
BEGIN QUESTION
name: q2a
-->

In [16]:
text_q2a = "Ten 10, Twenty 20, Thirty 30"

res_q2a = ...
...

res_q2a

In [ ]:
ok.grade("q2a");

---
## Question 2b:

Write a Python program to replace at most 2 occurrences of space, comma, or dot with a colon.

**Hint:** use `re.sub(regex, "newtext", string, number_of_occurences)`

<!--
BEGIN QUESTION
name: q2b
-->

In [18]:
text_q2b = 'Python Exercises, PHP exercises.'
res_q2b = ... # Hint: use re.sub()
...

res_q2b

In [ ]:
ok.grade("q2b");

---
## Question 2c: 

Write a Python program to extract values between quotation marks of a string.

**Hint:** use `re.findall`


<!--
BEGIN QUESTION
name: q2c
-->

In [20]:
text_q2c = '"Python", "PHP", "Java"'
res_q2c = ... 
...

res_q2c

In [ ]:
ok.grade("q2c");

## Question 2d:

Write a regular expression to extract and print the quantity and type of objects in a string. You may assume that a space separates quantity and type, ie. `"{quantity} {type}"`. See the example string below for more detail.

1. **Hint:** use `re.findall`
2. **Hint:** use `\d` for digits and one of either `*` or `+`.

<!--
BEGIN QUESTION
name: q2d
-->

In [22]:
text_q2d = "I've got 10 eggs that I stole from 20 gooses belonging to 30 giants."

res_q2d = ...
...

res_q2d

In [ ]:
ok.grade("q2d");

## Question 2e:

Write a regular expression to replace all vowels with a lowercase letter “o”. Given that address is a string, use re.sub to change "123 Orange Street" into "123 orongo Stroot". This question is from Disc05, Question #7.

**Hint:** use `re.sub(regex, "newtext", string, number_of_occurences)`


<!--
BEGIN QUESTION
name: q2e
-->

In [24]:
text_q2e = "123 Orange Street"

res_q2e = ...
...

res_q2e

In [ ]:
ok.grade("q2e");

## Question 2f:

This question comes from the RegEx puzzle from lecture. Fill in the regular expression in the variable pattern below so that after it executes, day is 26, month is Jan, and year is 2014.

1. **Hint:** use `re.findall`
2. **Hint:** pay attention to the data type after using `re.findall`
3. **Hint:** use `\[` and `\/` to match the character '[' and '/'.


<!--
BEGIN QUESTION
name: q2f
-->

In [26]:
text_q2f = '169.237.46.168 - - [26/Jan/2014:10:47:58 -0800]'
pattern = ... # Hint: only pattern has to be regular expression
day = ... # day, month, year all depend on pattern
month = ...
year = ...
...
pattern

In [ ]:
ok.grade("q2f");

# Part 2: SQL

In the rest of the lab, we explore the money donated during the 2016 election using the [Federal Election
Commission's public records](http://www.fec.gov/finance/disclosure/ftpdet.shtml). You will be connecting to a sqlite database containing the data. The data we will be working with in this lab is quite small (16MB); however, it's taken from a larger database that more than few GBs!

It seems there are many questions left to be finish, but there aren't. Don't panic; don't stress. **You only have 3 questions to complete. **

### Connecting to SQLite

Download the database to local disk drive; this will take about a minute.

In [31]:
db_url = 'https://s3.amazonaws.com/berkeley-ds100/fec_nyc.sqlite'
db_filename = 'fec_nyc.db'
data_dir = Path('data')
fetch_and_cache(db_url, db_filename, data_dir=data_dir)
db_path = data_dir / db_filename

The following cell will connect to the above database using the SQL Alchemy library. This library is more general than the `sqlite3` module from the standard library because it can connect to several different database management systems, such as MySQL and PostgreSQL. It also supports an advanced feature for generating queries called an [object relational mapper](https://docs.sqlalchemy.org/en/latest/orm/tutorial.html) or ORM, which we won't discuss in this course but is quite useful for application development.

In [32]:
engine = sqlalchemy.create_engine(f"sqlite:///{db_path}")
connection = engine.connect()

To check that everything is working we will list the available tables.

In [33]:
engine.table_names()

## Table Descriptions

Here is a list of the tables in the database.  Each table links to the documentation on the [FEC page](http://www.fec.gov/finance/disclosure/ftpdet.shtml) for the dataset.

Note that the table names here are slightly different from the ones in lecture. Consult the FEC page
for the descriptions of the tables to find out what the correspondence is.

- [`cand`](http://www.fec.gov/finance/disclosure/metadata/DataDictionaryCandidateMaster.shtml): Candidates table. Contains names and party affiliation.
- [`comm`](http://www.fec.gov/finance/disclosure/metadata/DataDictionaryCommitteeMaster.shtml): Committees table. Contains committee names and types.
- [`indiv_sample_nyc`](http://www.fec.gov/finance/disclosure/metadata/DataDictionaryContributionsbyIndividuals.shtml): All individual contributions from New York City.

We can explore the schemas of these tables with the following code from lecture 8.

In [34]:
for exp in connection.execute('SELECT sql FROM sqlite_master;'):
    print(exp[0])

In [35]:
# We use `LIMIT 5` to avoid loading a huge table.
# Although our tables shouldn't get too large to display,
# this is generally good practice when working in the
# notebook environment.  Jupyter notebooks don't handle
# very large outputs well. 
query = """
SELECT * from indiv_sample_nyc LIMIT 5
"""
pd.read_sql(query, engine)

In [36]:
query = '''
SELECT cand_id, cand_name
FROM cand
WHERE cand_pty_affiliation = 'DEM'
LIMIT 5
'''
pd.read_sql(query,engine)

---
## Question 3

For this question we will use regular expressions and sampling to extract data out of the `indiv_sample_nyc` table.

In [37]:
for exp in connection.execute('SELECT sql FROM sqlite_master WHERE name="indiv_sample_nyc";'):
    print(exp[0])

### Question 3a

Let's first select transactions in the `indiv_sample_nyc` table with a `cmte_id` (committee id) that ends in 5. Then, groupby the transactions in the `indiv_sample_nyc` table with the `cmte_id` column, and count how many transactions and how much total amount of contribution there are for each `cmte_id`. Select the top 5 committees ordered by the transaction count.

Your output should look similar to:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>committee_id</th>
      <th>total_amount</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>C00575795</td>
      <td>25099091</td>
      <td>110657</td>
    </tr>
    <tr>
      <th>1</th>
      <td>C00000935</td>
      <td>6989835</td>
      <td>36237</td>
    </tr>
    <tr>
      <th>2</th>
      <td>C00035675</td>
      <td>316019</td>
      <td>3417</td>
    </tr>
    <tr>
      <th>3</th>
      <td>C00040535</td>
      <td>492567</td>
      <td>3277</td>
    </tr>
    <tr>
      <th>4</th>
      <td>C00012245</td>
      <td>499659</td>
      <td>2128</td>
    </tr>
  </tbody>
</table>

<!--
BEGIN QUESTION
name: q3a
-->

In [38]:
query_q3a='''
SELECT
    ... AS committee_id,
    ... AS total_amount,
    ... AS count
FROM indiv_sample_nyc
...
...
...
...
'''

...

res_q3a = pd.read_sql(query_q3a, engine)
res_q3a

In [ ]:
ok.grade("q3a");

### Question 3b

When you printed the schema for the tables, you may have noticed that both the `cand` and `comm` tables have a `cand_id` column. Let's try joining these two tables on this column.

List the first 5 candidate names (`cand_name`) in reverse lexicographic order by `cand_name`, along with their corresponding committee names. Only select rows that have a matching `cand_id` in both tables.

Your output should look similar to:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cand_name</th>
      <th>cmte_nm</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ZUTLER, DANIEL PAUL MR</td>
      <td>CITIZENS TO ELECT DANIEL P ZUTLER FOR PRESIDENT</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ZUMWALT, JAMES</td>
      <td>ZUMWALT FOR CONGRESS</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ZUKOWSKI, ANDREW GEORGE</td>
      <td>ZUKOWSKI FOR CONGRESS</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ZUCCOLO, JOE</td>
      <td>JOE ZUCCOLO FOR CONGRESS</td>
    </tr>
    <tr>
      <th>4</th>
      <td>ZORN, ROBERT ERWIN</td>
      <td>CONSTITUTIONAL COMMITTEE</td>
    </tr>
  </tbody>
</table>

<!--
BEGIN QUESTION
name: q3b
-->

In [42]:
query_q3b='''
SELECT ..., ...
FROM cand c1 ... JOIN comm c2 ON ...
...
...
'''

...

res_q3b = pd.read_sql(query_q3b, engine)
res_q3b

In [ ]:
ok.grade("q3b");

### Question 3c

As in the previous part, list the first 5 candidate names (`cand_name`) by reverse lexicographic order and their corresponding committee names (`cmte_nm`). This time, include all candidate names. If there is no matching `cand_id` in the `comm` table, then `cmte_nm` should be NULL.

Your output should look similar to:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cand_name</th>
      <th>cmte_nm</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ZUTLER, DANIEL PAUL MR</td>
      <td>CITIZENS TO ELECT DANIEL P ZUTLER FOR PRESIDENT</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ZUMWALT, JAMES</td>
      <td>ZUMWALT FOR CONGRESS</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ZUKOWSKI, ANDREW GEORGE</td>
      <td>ZUKOWSKI FOR CONGRESS</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ZUCCOLO, JOE</td>
      <td>JOE ZUCCOLO FOR CONGRESS</td>
    </tr>
    <tr>
      <th>4</th>
      <td>ZORNOW, TODD MR</td>
      <td>None</td>
    </tr>
  </tbody>
</table>

<!--
BEGIN QUESTION
name: q3c
-->

In [46]:
query_q3c='''
SELECT ..., ...
FROM cand c1 ... JOIN comm c2 ON ...
...
...
'''

...

res_q3c = pd.read_sql(query_q3c, engine)
res_q3c

In [ ]:
ok.grade("q3c");

**Congrats! You have finished this assignment.**

# Submit
Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output.
**Please save before submitting!**

In [ ]:
# Save your notebook first, then run this cell to submit.
ok.submit()